.decode-text {
  width: 100%;
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.decode-text-row {
  display: flex;
  justify-content: center;
}

.space {
  width: 0.5em;
  display: inline-block;
}

.text-animation {
  display: inline-block;
  position: relative;
  color: transparent;
  text-transform: uppercase;
}

.text-animation:before {
  content: "";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  width: 0;
  height: 1.2em;
  transform: translate(-50%, -55%);
}

.text-animation.state-1:before {
  width: 1px;
}

.text-animation.state-2:before {
  width: 0.5em;
}

.text-animation.state-3 {
  color: white;
}

.text-animation.state-3:before {
  width: 0;
}

@media (max-width: 0px) {
  .decode-text {
    font-size: clamp(1.5rem, 4vw, 3rem);
    flex-direction: column;
  }
  
  .space {
    width: 100%;
    height: 0.5em;
  }
}

@media (max-width: 767px) {
  .mobile-view .decode-text {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    padding-top: 1rem;
  }
}

// demo styles
#refresh {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
div {
  font-family: "Share Tech Mono", monospace;
}
body {
  height: 100vh;
  align-items: center;
  display: flex;
}
