@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.prose {
  font-family: 'Merriweather', serif;
}

@layer components {
  .layout-shell {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .layout-shell {
    max-width: min(1280px, 66vw);
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.header-gradient {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 1) 100%
  );
  padding-bottom: 5rem; /* Adjust this value to control where the gradient ends */
}

/* Adjust the height of the header to accommodate the gradient */
header {
  min-height: 150px; /* Adjust this value as needed */
}

/* Ensure the content below the header doesn't get hidden */
main {
  padding-top: 150px; /* This should match the header's min-height */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
